div.container-footer 
    div.dynamic-footer 
        ul.redes 
            li: a(href="#" title="X"): img(src="./img/x.svg")
            li: a(href="#" title="Instagram"): img(src="./img/instagram.svg")
            li: a(href="#" title="YouTube"): img(src="./img/youtube.svg")
        ul.legales 
            li: a(href="#") Política de privacidad
            li: a(href="#") Política de cookies
            li: a(href="#") Aviso legal
        