div.container-head
    div.titulo  
        h1 Descubre Nocito en la sierra de Guara
    div.menu
        nav: ul 
            li: a(href="presentacion.pug") presentación
            li: a(href="enlaces.pug") enlaces
            li: a(href="index.pug") inicio